@font-face {
    font-family: 'Latin Modern';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('./fonts/LM-regular.woff2') format('woff2'),
      url('./fonts/LM-regular.woff') format('woff'),
      url('./fonts/LM-regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Latin Modern';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url('./fonts/LM-italic.woff2') format('woff2'),
      url('./fonts/LM-italic.woff') format('woff'),
      url('./fonts/LM-italic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Latin Modern';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('./fonts/LM-bold.woff2') format('woff2'),
      url('./fonts/LM-bold.woff') format('woff'),
      url('./fonts/LM-bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Latin Modern';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url('./fonts/LM-bold-italic.woff2') format('woff2'),
      url('./fonts/LM-bold-italic.woff') format('woff'),
      url('./fonts/LM-bold-italic.ttf') format('truetype');
  }


  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  :root {
    --body-color: hsl(0, 5%, 10%);
    --body-bg-color: hsl(210, 20%, 98%);
    --link-visited: hsl(0, 100%, 33%);
    --link-focus-outline: hsl(220, 90%, 52%);
    --pre-bg-color: hsl(210, 28%, 93%);
    --kbd-bg-color: hsl(210, 5%, 100%);
    --kbd-border-color: hsl(210, 5%, 70%);
    --table-border-color: black;
    --sidenote-target-border-color: hsl(55, 55%, 70%);
    --footnotes-border-color: hsl(0, 0%, 39%);
  } 
  .latex-dark {
    --body-color: hsl(0, 0%, 86%);
    --body-bg-color: hsl(0, 0%, 16%);
    --link-visited: hsl(196 80% 77%);
    --link-focus-outline: hsl(215, 63%, 73%);
    --pre-bg-color: hsl(0, 1%, 25%);
    --kbd-bg-color: hsl(0, 0%, 16%);
    --kbd-border-color: hsl(210, 5%, 70%);
    --table-border-color: white;
    --sidenote-target-border-color: hsl(0, 0%, 59%);
    --footnotes-border-color: hsl(0, 0%, 59%);
    --proof-symbol-filter: invert(80%);
  }
  
  @media (prefers-color-scheme: dark) {
     .latex-dark-auto {
      --body-color: hsl(0, 0%, 86%);
      --body-bg-color: hsl(0, 0%, 16%);
      --link-visited: hsl(196 80% 77%);
      --link-focus-outline: hsl(215, 63%, 73%);
      --pre-bg-color: hsl(0, 1%, 25%);
      --kbd-bg-color: hsl(0, 0%, 16%);
      --kbd-border-color: hsl(210, 5%, 70%);
      --table-border-color: white;
      --sidenote-target-border-color: hsl(0, 0%, 59%);
      --footnotes-border-color: hsl(0, 0%, 59%);
      --proof-symbol-filter: invert(80%);
    }
  } 
    
  /* Remove default margin */
    body,
    h1,
    h2,
    h3,
    h4,
    p,
    ul[class],
    ol[class],
    li,
    figure,
    figcaption,
    dl,
    dd {
      margin: 0;
    }

    figure {
      margin-top: 1rem;
    }

    iframe{
      margin-top: 1rem;
    }


    /* Make default font-size 1rem and add smooth scrolling to anchors */
  html {
    font-size: 1.04rem;
  }
  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }


    /* First navigator */

    header {
      background-color: hsl(210, 20%, 98%, 0.95);
      text-align: center;
      position: absolute;
      z-index: 999;
      width: 100%;
      padding: 1rem 0 1rem 2rem;
    }
  
    header a, header a:link, header a:visited{
      color: black;
      /* color: var(--link-visited); */
      font-weight: bold;
    }
  
    header ul {
      color: black;
      font-weight: bold;
      /* color: var(--link-visited); */
      font-variant-caps: small-caps;
    }
  
    header ul ul {
      padding-left: 3rem;
    }
  
    
    
    /* changed this from the tutorial video to
       allow it to gain focus, making it tabbable */
    .nav-toggle {
      position: absolute !important;
      top: -9999px !important;
      left: -9999px !important;
    }
    
    .nav-toggle:focus ~ .nav-toggle-label {
      outline: 3px solid rgba(lightblue, .75);
    }
    
    .nav-toggle-label {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      margin-left: 1em;
      height: 100%;
      display: flex;
      align-items: center;
    }
    
    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
      display: block;
      background: black;
      height: 2px;
      width: 2em;
      border-radius: 2px;
      position: relative;
    }
    
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
      content: '';
      position: absolute;
    }
    
    .nav-toggle-label span::before {
      bottom: 7px;
    }
    
    .nav-toggle-label span::after {
      top: 7px;
    }
    
    nav {
      position: absolute;
      padding-top: 0;
      text-align: left;
      top: 100%;
      left: 0;
      background-color: hsl(210, 20%, 98%, 0.95);
      width: 100%;
      transform: scale(1, 0);
      transform-origin: top;
      transition: transform 400ms ease-in-out;
    }
    
    nav ul {
      margin: 0;
      padding: 0;
      padding-left: 2rem;
      list-style: none;
    }
    
    nav li {
      padding-bottom: 1em;
      padding-left: 1em;
    }
    
    nav a{
      text-decoration: none;
      opacity: 50;
      transition: opacity 150ms ease-in-out;
    }
  
  
    
    nav a:hover {
      color: #fa0707;
    }
    
    .nav-toggle:checked ~ nav {
      transform: scale(1,1);
    }
    
    .nav-toggle:checked ~ nav a {
      opacity: 1;
      transition: opacity 250ms ease-in-out 250ms;
    }
  
  
  
  
    h1 {
      margin-top: 4rem;
    }
  



  .logos {
    width: 150px;
    margin-top: 2rem;
    text-align: left;
  }


  body {
    font-family: 'Computer Modern', 'Latin Modern', Georgia, Cambria, 'Times New Roman', Times, serif;
    line-height: 1.8;
    color: var(--body-color);
    background-color: var(--body-bg-color);
  }
  
  
  main {
    
    max-width: 55%;
    /* margin-left: 22.5%; */
    text-align: justify;

    font-size: 110%;
    line-height: 1.8;

    overflow-x: hidden;
    margin: 0 auto;
    padding: 2rem 1.25rem;
    

  }

  /* Heading typography */
  h1 {
    font-size: 2.1rem;
    line-height: 2.6rem;
    margin-bottom: 1.625rem;
    text-align: center;
  }
  
  h2 {
    font-size: 1.7rem;
    line-height: 2rem;
    margin-top: 3rem;
  }
  
  h3 {
    font-size: 1.4rem;
    margin-top: 2.5rem;
  }
  
  h4 {
    font-size: 1.2rem;
    margin-top: 2rem;
  }
  
  h5 {
    font-size: 1rem;
    margin-top: 1.8rem;
  }
  
  h6 {
    font-size: 1rem;
    font-style: italic;
    font-weight: normal;
    margin-top: 2.5rem;
  }
  
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.625rem;
  }
  
  h1 + h2 {
    margin-top: 1.625rem;
  }
  
  h2 + h3,
  h3 + h4,
  h4 + h5 {
    margin-top: 0.8rem;
  }
  
  h5 + h6 {
    margin-top: -0.8rem;
  }
  
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0.8rem;
  }

  .nomargintop {
    margin-top: 0;
  }

   /* main logo */

   .logo {
    width: 75px
  }

    /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  
  /* Make links red */

  a,
  a:visited {
    color: var(--link-visited);
  }
  
  a:focus {
    outline-offset: 2px;
    outline: 2px solid var(--link-focus-outline);
  }

  .link, .link:visited {
    color: #272002;
    margin-top: 2rem;
    text-decoration: none;
  }
  
  /* Make images easier to work with */
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .twitter-tweet {
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

    /* Inherit fonts for inputs and buttons */
    input,
    button,
    textarea,
    select {
      font: inherit;
    }
    
    /* Prevent textarea from overflowing */
    textarea {
      width: 100%;
    }
    
    /* Natural flow and rhythm in articles by default */
    article > * + * {
      margin-top: 1em;
    }
    
    /* Styles for inline code or code snippets */
    code,
    pre,
    kbd {
      font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
        monospace;
      font-size: 85%;
    }
    pre {
      padding: 1rem 1.4rem;
      max-width: 100%;
      overflow: auto;
      border-radius: 4px;
      background: var(--pre-bg-color);
    }
    pre code {
      font-size: 95%;
      position: relative;
    }
    kbd {
      background: var(--kbd-bg-color);
      border: 1px solid var(--kbd-border-color);
      border-radius: 2px;
      padding: 2px 4px;
      font-size: 75%;
    }
    
    /* Better tables */
    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: auto;
      max-width: 100%;
      border-top: 2.27px solid var(--table-border-color);
      border-bottom: 2.27px solid var(--table-border-color);
      /* display: block; */
      overflow-x: auto; /* does not work because element is not block */
      /* white-space: nowrap; */
      counter-increment: caption;
    }
    /* add bottom border on column table headings  */
    table tr > th[scope='col'] {
      border-bottom: 1.36px solid var(--table-border-color);
    }
    /* add right border on row table headings  */
    table tr > th[scope='row'] {
      border-right: 1.36px solid var(--table-border-color);
    }
    table > tbody > tr:first-child > td,
    table > tbody > tr:first-child > th {
      border-top: 1.36px solid var(--table-border-color);
    }
    table > tbody > tr:last-child > td,
    table > tbody > tr:last-child > th {
      border-bottom: 1.36px solid var(--table-border-color);
    }
    
    th,
    td {
      text-align: left;
      padding: 0.5rem;
      line-height: 1.1;
    }
    /* Table caption */
    caption {
      text-align: left;
      font-size: 0.923em;
      /* border-bottom: 2pt solid #000; */
      padding: 0 0.25em 0.25em;
      width: 100%;
      margin-left: 0;
    }
    
    caption::before {
      content: 'Table ' counter(caption) '. ';
      font-weight: bold;
    }
    
    /* allow scroll on the x-axis */
    .scroll-wrapper {
      overflow-x: auto;
    }
    
    /* if a table is wrapped in a scroll wrapper,
      the table cells shouldn't wrap */
    .scroll-wrapper > table td {
      white-space: nowrap;
    }
    
    /* Center align the title */
    h1:first-child {
      text-align: center;
    }

  /* Center definitions (most useful for display equations) */
  dl dd {
    text-align: center;
  }
  
  /* Theorem */
  .theorem {
    counter-increment: theorem;
    display: block;
    margin: 12px 0;
    font-style: italic;
  }
  .theorem::before {
    content: 'Theorem ' counter(theorem) '. ';
    font-weight: bold;
    font-style: normal;
  }
  
  /* Lemma */
  .lemma {
    counter-increment: theorem;
    display: block;
    margin: 12px 0;
    font-style: italic;
  }
  .lemma::before {
    content: 'Lemma ' counter(theorem) '. ';
    font-weight: bold;
    font-style: normal;
  }
  
  /* Proof */
  .proof {
    display: block;
    margin: 12px 0;
    font-style: normal;
    position: relative;
  }
  .proof::before {
    content: 'Proof. ' attr(title);
    font-style: italic;
  }
  .proof:after {
    content: '◾️';
    filter: var(--proof-symbol-filter);
    position: absolute;
    right: -12px;
    bottom: -2px;
  }
  
  /* Definition */
  .definition {
    counter-increment: definition;
    display: block;
    margin: 12px 0;
    font-style: normal;
  }
  .definition::before {
    content: 'Definition ' counter(definition) '. ';
    font-weight: bold;
    font-style: normal;
  }
  
  /* Center align author name, use small caps and add vertical spacing  */
  .author {
    margin: 0.85rem 0;
    font-variant-caps: small-caps;
    text-align: center;
  }
  
  /* Sidenotes */
  
  .sidenote {
    font-size: 0.8rem;
    float: right;
    clear: right;
    width: 18vw;
    margin-right: -20vw;
    margin-bottom: 1em;
  }
  
  .sidenote.left {
    float: left;
    margin-left: -20vw;
    margin-bottom: 1em;
  }
  
  /* (WIP) add border when a sidenote is clicked on */
  .sidenote:target {
    border: var(--sidenote-target-border-color) 1.5px solid;
    padding: 0 .5rem;
    scroll-margin-block-start: 10rem;
  }
  
  /* sidenote counter */
  .sidenote-number {
    counter-increment: sidenote-counter;
  }
  
  .sidenote-number::after,
  .sidenote::before {
    position: relative;
    vertical-align: baseline;
  }
  
  /* add number in main content */
  .sidenote-number::after {
    content: counter(sidenote-counter);
    font-size: 0.7rem;
    top: -0.5rem;
    left: 0.1rem;
  }
  
  /* add number in front of the sidenote */
  .sidenote-number ~ .sidenote::before {
    content: counter(sidenote-counter) ' ';
    font-size: 0.7rem;
    top: -0.5rem;
  }
  
  label.sidenote-toggle:not(.sidenote-number) {
    display: none;
  }
  
  /* sidenotes inside blockquotes are indented more */
  blockquote .sidenote {
    margin-right: -24vw;
    width: 18vw;
  }
  
  
  label.sidenote-toggle {
    display: inline;
    cursor: pointer;
  }
  
  input.sidenote-toggle {
    display: none;
  }
  
  @media (max-width: 1050px) {
    label.sidenote-toggle:not(.sidenote-number) {
      display: inline;
    }
    .sidenote {
      display: none;
    }
    .sidenote-toggle:checked + .sidenote {
      display: block;
      margin: 0.5rem 1.25rem 1rem 0.5rem;
      float: left;
      left: 1rem;
      clear: both;
      width: 95%;
    }
    /* tweak indentation of sidenote inside a blockquote */
    blockquote .sidenote {
      margin-right: -25vw;
      width: 16vw;
    }
  }

    /* main logo */

    .logo {
      width: 85px
    }

  /* Footer */


  .footer {
    font-family: "Latin Modern", sans-serif;
    position: relative;
    width: 100%;
    background: black;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .suscript{
    display: flex;
    position: relative;
    list-style: none;
    flex-direction: row;
    padding: 0 0 0 0;
  }
  

  .right-footer {
    display: flex;
    flex-direction: column;
    padding: 0px 50px 0px 10px;
  }

  .right-footer li {
    list-style: none;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    padding: 0px 10px 0px 10px;
  }

  .social-icon__item {
    margin: 0px 10px;
  }
  
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .first__item {
    list-style: none;
    font-variant-caps: small-caps;
    text-decoration: underline;
    color: #fff;
    margin: 0px 10px;
    margin-top: 10px;
    font-weight: 300;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin-top: 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }

  .social-icon__link:visited {
    color: #fff;;
  }
  
  .menu__link {
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }

  .menu__link:visited {
    color: #fff;;
  }

  .footer p {
    margin-top: 0px;
    padding: 10px 0px;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
  }
  
  .contact__link, .contact__link:visited {
    color: #fff;
    text-decoration: none;
  }
  



  @media screen and (max-width: 1000px) {
    main {
      max-width: 70%;
    }

  }

  @media screen and (max-width: 970px) {

    .logo {
      width: 70px;
    }
  }

  @media screen and (max-width: 700px) {
    main {
      max-width: 95%;
    }

    h1 {
      margin-top: 3rem;
    }

    .logo {
      width: 40px;
    }

    h1 {
      font-size: 1.6rem;
      line-height: 2rem;
    }

    h2{
      font-size: 1.5rem;
    }
    
    blockquote {
      font-size: 90%;
    }

    .footer p,
    .first__item {
      font-size: 85%;
    }
    .menu__link {
      font-size: 75%;
    }

    .suscript {
      flex-direction: column;
    }

    .right-footer{
      align-items: center;
      justify-content: center;
      padding: 0px 10px 0px 10px;
    }

  
  }

  @media screen and (min-width: 970px) {
    .nav-toggle-label {
      display: none;
    }
  
    header {
      background: var(--background);
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 2rem 2rem 1rem 3rem;
    }

    header a, header a:link, header a:visited {
      color: var(--link-visited);
    }

    header a:hover{
      color: #fa0707;
    }
    
    nav {
      position: relative;
      text-align: left;
      margin-top: 0;
      transition: none;
      transform: scale(1,1);
      background: none;
      top: initial;
      left: initial;
      background: var(--background);
      display: flex;
      justify-content: flex-end;
      align-items: right;
    }

    
    nav li {
      display: inline-block;
      margin-left: 1em;
      margin-bottom: 0;
    }
    
    nav a {
      opacity: 1;
      position: relative;
      text-transform: initial;
    }
    
    nav a::before {
      content: '';
      display: block;
      height: 5px;
      background: black;
      position: absolute;
      top: -.75em;
      left: 0;
      right: 0;
      transform: scale(0, 1);
      transition: transform ease-in-out 250ms;
    }
    
    nav a:hover::before {
      transform: scale(1,1);
    }

    .hide {
      display: none;
    }

  }


 
  /* Make footnote text smaller and left align it (looks bad with long URLs) */
  .footnotes p {
    text-align: left;
    line-height: 1.5;
    font-size: 85%;
    margin-bottom: 0.4rem;
  }
  
  /* .footnotes {
    border-top: 1px solid var(--footnotes-border-color);
  } */
  
  /* Center title and paragraph */
  .abstract,
  .abstract p {
    text-align: center;
    margin-top: 0;
  }
  .abstract {
    margin: 2.25rem 0;
  }
  .abstract > h2 {
    font-size: 1rem;
    margin-bottom: -0.2rem;
  }
  
  /* Format the LaTeX symbol correctly (a higher up, e lower) */
  .latex span:nth-child(1) {
    text-transform: uppercase;
    font-size: 0.75em;
    vertical-align: 0.28em;
    margin-left: -0.48em;
    margin-right: -0.15em;
    line-height: 1ex;
  }
  
  .latex span:nth-child(2) {
    text-transform: uppercase;
    vertical-align: -0.5ex;
    margin-left: -0.1667em;
    margin-right: -0.125em;
    line-height: 1ex;
  }    

  
  /* Justify and hyphenate all paragraphs */
  p {
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    margin-top: 1rem;
  }

  .right {
    text-align: right;
  }

  figcaption {
      line-height: 1.4;
      font-weight: 600;
      font-size: 80%;  
  }

  .author-block {
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
  }

  .author-block img {
    max-width: 250px;
    float: left;
    margin-right: 20px;
  }

  .author-block p {
    margin-top: 0rem;
    line-height: 1.4;
    font-weight: 600;
    font-size: 90%;
  }

  @media screen and (max-width: 700px) {
    .author-block img { 
    float: none;
    margin-right: 0;
    max-width: 100%;
    margin-bottom: 10px;
    }
  }




