@font-face {
    font-family: 'Latin Modern';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('./fonts/LM-regular.woff2') format('woff2'),
      url('./fonts/LM-regular.woff') format('woff'),
      url('./fonts/LM-regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Latin Modern';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url('./fonts/LM-italic.woff2') format('woff2'),
      url('./fonts/LM-italic.woff') format('woff'),
      url('./fonts/LM-italic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Latin Modern';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('./fonts/LM-bold.woff2') format('woff2'),
      url('./fonts/LM-bold.woff') format('woff'),
      url('./fonts/LM-bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Latin Modern';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url('./fonts/LM-bold-italic.woff2') format('woff2'),
      url('./fonts/LM-bold-italic.woff') format('woff'),
      url('./fonts/LM-bold-italic.ttf') format('truetype');
  }




  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  :root {
    --body-color: hsl(0, 5%, 10%);
    --body-bg-color: hsl(210, 20%, 98%);
    --link-visited: hsl(0, 83%, 43%);
    --link-focus-outline: hsl(220, 90%, 52%);
    --pre-bg-color: hsl(210, 28%, 93%);
    --kbd-bg-color: hsl(210, 5%, 100%);
    --kbd-border-color: hsl(210, 5%, 70%);
    --table-border-color: black;
    --sidenote-target-border-color: hsl(55, 55%, 70%);
    --footnotes-border-color: hsl(0, 0%, 39%);
  } 
  .latex-dark {
    --body-color: hsl(0, 0%, 86%);
    --body-bg-color: hsl(0, 0%, 16%);
    --link-visited: hsl(196 80% 77%);
    --link-focus-outline: hsl(215, 63%, 73%);
    --pre-bg-color: hsl(0, 1%, 25%);
    --kbd-bg-color: hsl(0, 0%, 16%);
    --kbd-border-color: hsl(210, 5%, 70%);
    --table-border-color: white;
    --sidenote-target-border-color: hsl(0, 0%, 59%);
    --footnotes-border-color: hsl(0, 0%, 59%);
    --proof-symbol-filter: invert(80%);
  }
  
  @media (prefers-color-scheme: dark) {
     .latex-dark-auto {
      --body-color: hsl(0, 0%, 86%);
      --body-bg-color: hsl(0, 0%, 16%);
      --link-visited: hsl(196 80% 77%);
      --link-focus-outline: hsl(215, 63%, 73%);
      --pre-bg-color: hsl(0, 1%, 25%);
      --kbd-bg-color: hsl(0, 0%, 16%);
      --kbd-border-color: hsl(210, 5%, 70%);
      --table-border-color: white;
      --sidenote-target-border-color: hsl(0, 0%, 59%);
      --footnotes-border-color: hsl(0, 0%, 59%);
      --proof-symbol-filter: invert(80%);
    }
  } 
    
  /* Remove default margin */
    body,
    h1,
    h2,
    h3,
    h4,
    p,
    ul[class],
    ol[class],
    li,
    figure,
    figcaption,
    dl,
    dd {
      margin: 0;
      padding: 0;
    }


      /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  
  /* Make links red */
  
  a:focus {
    outline-offset: 2px;
    outline: 2px solid var(--link-focus-outline);
  }



  /* No decoration for links inside widgets or navigation */
  
  .grid a {
    text-decoration: none;
    color: var(--body-color);
  }




    /* Make default font-size 1rem and add smooth scrolling to anchors */
  html {
    font-size: 1.04rem;
  }
  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }




  /* First navigator */

  header {
    display: flex;
    justify-content: space-between;
    background-color: none;
    font-family: 'Encode Sans', sans-serif;
    position: absolute;
    z-index: 999;
    width: 100%;
  }

  header a, header a:link, header a:visited {
    color: black
  }

  header a:hover{
    color: rgb(0, 87, 183);
  }

  header ul {
    font-weight: 500;
    font-variant-caps: small-caps;
    padding: 2rem 2rem 1rem 0;
  }


  /* Logos */

  .logo {
    width: 250px;
    padding: 2rem 0rem 1rem 3rem;
  }

  .hidden-logo{
    display: none;
  }

  @media screen and (max-width: 970px) {

    header {
      justify-content: center;
    }

    .logo {
      width: 175px;
      padding: 1rem 0 0 0;
    }

    .hidden-logo {
      display: block;
      width: 175px;
      padding: 1rem 0 0 0;
    }

    .main-logo {
      display: none;
    }

  }

  @media screen and (max-width: 700px) {

    .logo {
      width: 150px;
    }
  
    .hidden-logo{
      display: block;
      width: 150px;
    }

  }
  

  /* Menu */

  nav {
    position: relative;
    text-align: left;
    transition: none;
    display: flex;
    justify-content: flex-end;
  }

  @media screen and (max-width: 970px) {

    nav {
      display: none;
    }

  }
  
  nav ul {
    list-style: none;
    margin: 0;
  }

  nav li {
    display: inline-block;
    padding-left: 1.3em;
  }
    
  nav a{
    text-decoration: none;
    position: relative;
    text-transform: initial;
  }  

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: rgb(255, 221, 0);
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }


  /* Hamburger menu */

  .hamburger {
    display: none;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    top: 50px;
    left: 50px;
    width: max-content;
    z-index: 99999999;
    cursor: pointer;
  }

  @media screen and (max-width: 970px) {

    .hamburger{
      display: flex;
    }

  }

  @media screen and (max-width:460px) {
    .hamburger {
      top: 40px;
      left: 3vh;
    }
  }

  .hamburger::before,
  .hamburger::after,
  .hamburger input {
    content: "";
    width: 46px;
    height: 2px;
    margin: 0 auto;
    background-color: rgba(15, 15, 17, 0.75);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity 400ms linear, width 400ms linear, rotate 400ms linear, translate 400ms linear;
    animation: opac 7s ease forwards;
  }

  .hamburger input{
    appearance: none;
    outline: none;
    pointer-events: none;
    width: 40px;
    height: 1.5px;
  }

  /* Hamburger menu hover effects */

  .hamburger:has(input:hover)::before,
  .hamburger:has(input:hover)::after {
    width: 40px;
  }

  .hamburger input:hover {
    width: 46px;
  }

  /* Hamburger menu focus visible effects */

  .hamburger:has(input:focus-visible)::before,
  .hamburger:has(input:focus-visible)::after, 
  .hamburger input:focus-visible {
    border: 1px solid white;
    box-shadow: 0 0 0 1px rgba(15, 15, 17, 1);
  }

  /* Hamburger menu checked effects */

  .hamburger input:checked {
    width: 0;
    opacity: 0;
  }

  .hamburger:has(input:checked)::before {
    rotate: 45deg;
    width: 30.40559159px;
    translate: 0 -1px;
  }

  .hamburger:has(input:checked)::after {
    rotate: -45deg;
    width: 30.40559159px;
    translate: 0 1px;
  }


  @media screen and (min-width: 970px) {
    
    .short-description {
      display: none;
    }

  }


  /* Aside */

  .navigator {
    display: none;
    position: fixed;
    z-index: 999999;
    transition: transform 0.5s ease-out;
    transform: translateY(-200%);
    background-color: #f5f5fa;
    width: 100vw;
    height: 100vh;
  }

  @media screen and (max-width: 970px) {
    
    .navigator {
      display: block;
    }

  }
  
  .hamburger:has(input:checked) + .navigator {
    transform: translateY(0);
  }
  
  body.no-scroll {
    overflow: hidden;
  }
  
  /* Navigation list */
  
  .mob-nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .mob-nav .main-list {
    text-align: center;  
    gap: 0.2rem;
    padding: 0;
    margin: 0 auto
  }

  .mob-nav .little-li {
    font-size: 0.9rem;
    opacity: 0.7;
  }

  .mob-nav a {
      text-decoration: none;
      opacity: 50;
      transition: opacity 150ms ease-in-out;
  }

  .mob-nav a:hover {
    color: rgba(0, 87, 183);
  }
  
  .mob-nav li {
    text-transform: initial;
    color: rgba(15, 15, 17, 1);
    list-style-type: none;
  }
  
  .mob-nav .main-list li {
    transform: translateY(200%);
    transition: transform 0.5s, color 1s;
  }
  
  .hamburger:has(input:checked) + .navigator .main-list li {
    transform: translateY(0);
  }

  /* Title */

  h1 {
    margin-top: 7rem;
  }

  
  /* Second navigator: includes all website labels */


  .nav2 {
    overflow-x: scroll;
    font-family: 'Encode Sans', sans-serif;
  }

  /* scrollbar width */
  .nav2::-webkit-scrollbar {
    height: 5px;
  }

  /* scrollbar Track */
  .nav2::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* scrollbar Handle */
  .nav2::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px; 
  }

  /* scrollbar Handle on hover */
  .nav2::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  

  .nav2 ul{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0.5rem 0;
    padding: 0;
  }

  .nav2 ul li{
    display: inline-block;
    margin-right: 1rem;
    text-align: center;
    font-size: 1rem;
    font-variant-caps: small-caps;
    font-weight: 500;
    line-height: normal;
    white-space: nowrap; 
  }
  .nav2 a {
    text-decoration: none;
    color: var(--body-color);
  }

  .nav2 a::before{
      content: '';
      display: block;
      height: 3px;
      background: rgba(251, 221, 0);
      top: -1em;
      left: 0;
      right: 0;
      transform: scale(0, 1);
      transition: transform ease-in-out 250ms;
    }

  .nav2 a:hover{
    color: rgba(0, 87, 183);
  }

  .nav2 a:hover::before{
    transform: scale(1,1);
  }
  


  /* Body */

  
  body {
    font-family: 'Latin Modern', Georgia, Cambria, 'Times New Roman', Times, serif;
    line-height: 1.8;
    color: var(--body-color);
    background-color: var(--body-bg-color);
  }

  .description, .short-description, .content {
    font-family: 'Encode Sans', sans-serif;
    line-height: 1.7;
    font-size: 0.9rem
  }

  .content {
    font-size: 1rem
  }

  main{
    max-width: 90%;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0 auto;
    padding: 2rem 1.25rem;

    counter-reset: theorem definition sidenote-counter;
  

  
    text-rendering: optimizeLegibility;

    overflow: auto;

  }

  .description, .short-description {
    text-align: justify;
  }

  /* Heading typography: default from CSS */

  h1 {
    font-size: 2.5rem;
    line-height: 3.25rem;
    margin-bottom: 1.625rem;
    text-align: center;
  }
  
  h2 {
    font-size: 1.3rem;
    margin-top: 2.5rem;
    line-height: 1.6rem;
  }
  
  h3 {
    font-size: 1.2rem;
    margin-top: 2rem;


  }
  
  h4 {
    font-size: 1.2rem;
    margin-top: 2rem;
  }
  
  h5 {
    font-size: 1rem;
    margin-top: 1.8rem;
  }
  
  h6 {
    font-size: 1rem;
    font-style: italic;
    font-weight: normal;
    margin-top: 2.5rem;
  }
  
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.625rem;
  }
  
  h1 + h2 {
    margin-top: 1.625rem;
  }
  
  h2 + h3,
  h3 + h4,
  h4 + h5 {
    margin-top: 0.8rem;
  }
  
  h5 + h6 {
    margin-top: -0.8rem;
  }
  
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0.8rem;
  }

  /* For dashboard creation */

  .grid {
    width: auto;
    margin-left: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 1rem;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }  

  /* grid-item stlying, width changes depending on the viewport size see media query */

  .grid-sizer{
    width: 24%;
  }

  .grid-item {
    margin-bottom: 10px;
    width: 24%;
    height: 600px;
    box-sizing: border-box;
    min-height: auto;
    padding: 1rem;
		background-color: rgb(244, 245, 246, 0.7);
    border: 1px solid #DCDEE2;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;  
    align-items: center;
    overflow: hidden;
  }

  .grid-item-double{
    width: 49%
  }

  .grid-item:hover {
    border-color: rgb(0, 87, 183);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
    
  

  .grid-item h2, h3, h4{
    text-align: center;
    margin: 0.5rem 0rem 0.5rem 0rem; 
  }

  .grid-item p {
    text-align: justify;
  }

  .grid-item p.author {
    text-align: center;
  }  

  .grid-item img {
    width: 400px;
    align-items: center;
  }

  .gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
    background: linear-gradient(rgb(244, 245, 246, 0), rgb(244, 245, 246, 1));
    pointer-events: none;
}

  /* inside grid-items label style */

  .inside-flex{
    display: flex;
    justify-content: space-between;
  }

  .inside-flex p{
    font-size: 14px;
    margin-top: -10px;
  }

  .tag{
    margin-left: -11px;
    margin-top: -13px;
  }

  .tag object{
    font-variant-caps: small-caps;
    background-color: rgba(224, 211, 211, 0.24);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 6px;
    transition: 0.3s; 
  }

  .tag object a{
    color: #777373;
  }

  .tag object:hover{
    border-color: rgb(80, 79, 79);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .content {
    margin: 0;
    padding: 15px;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}


  .read-more{
    display: none;
    position: absolute;
    padding-left: 10px;
    font-size: small;   
    bottom: 1px;
    right: 10px;

  }


  .grid-item:hover .read-more {
    display: block;
}



    /* pagination style */


  ul.pager { text-align: center; list-style: none; }
  ul.pager li {display: inline;border: 1px solid black; padding: 10px; margin: 5px;}
  .selected{ background-color: magenta; }

  
  .pagination, .pagination-mob {
    display: flex;
    justify-content: center;
    gap: 2rem;
    color: rgb(0, 87, 183);
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }

  .pagination-mob {
    display: none;
    gap: 0.5rem
  }


  .pagination a, .pagination-mob a {
    color: rgb(0, 87, 183);
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }

  .pagination a.active, .pagination-mob a.active {
    background-color:  rgb(0, 87, 183);
    color: rgb(255, 221, 0);
  }
  
  .pagination a:hover:not(.active), .pagination-mob a:hover:not(.active) {
    background-color: rgb(255, 221, 0, 60%);
  }





  /* Make images easier to work with */
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* Center align author name, use small caps and add vertical spacing  */
  .author {
    margin: 0.85rem 0;
    font-variant-caps: small-caps;
    text-align: center;
    line-height: normal;
  }

  p {
    text-align: center;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    margin-top: 1rem;
  }




  /* Footer */


.footer {
  font-family: 'Latin Modern', sans-serif;
  position: relative;
  width: 100%;
  background: black;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.suscript{
  display: flex;
  position: relative;
  list-style: none;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 0 0 0;
}

.right-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-footer {
  padding: 0px 40px 0px 20px;
}

.right-footer li {
  list-style: none;
  justify-content: center;
  align-items: center;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  padding: 0px 10px 0px 10px;
}

.social-icon__item {
  margin: 0px 10px;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.first__item {
  list-style: none;
  font-variant-caps: small-caps;
  text-decoration: underline;
  color: #fff;
  margin: 0 10px;
  margin-top: 10px;
  font-weight: 300;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin-top: 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  margin-top: 0px;
  padding: 10px 0px;
  color: #fff;
  font-weight: 300;
  text-decoration: none;
}

.contact__link, .contact__link:visited {
  color: #fff;
  text-decoration: none;
}



    /* Media query */

    @media screen and (max-width: 1400px) {
      .grid-sizer{
        width: 32.5%;
      }

      .grid-item {
        width: 32.5%;
        height: 550px;
      }

      .grid-item-double{
        width: 66%
      }
      
      .nav2 ul li {
        font-size: 15px;
      }
  
    }
  
    @media screen and (max-width: 970px) {
      .grid-sizer{
        width: 49%;
        height: 550px;
      }

      .grid-item {
        width: 49%;
      }

      h1 {
        margin-top: 5.5rem;
        font-size: 2.25rem;
        line-height: 3rem;
      }

      .nav2 {
        display: none;
      }
  
      .after-nav2 {
        display: none;
      }

      .description {
        display: none;
      }

      .short-description {
        margin-top: 5.5rem;
      }

  
      
    }
  
    @media screen and (max-width: 700px) {
      .grid-item {
        width: 100%;
        height: 550px;
      }

      .grid-item .read-more{
        display: block;
      }

      h1 {
        margin-top: 4.5rem;
        font-size: 2rem;
        line-height: 2.5rem;
      }

      .short-description {
        margin-top: 5rem;
      }
    
      main {
        max-width: 100%;
      }

      .footer p,
      .first__item {
        font-size: 85%;
      }
      .menu__link {
        font-size: 75%;
      }

      .suscript {
        flex-direction: column;
      }
  
      .right-footer{
        align-items: center;
        justify-content: center;
        padding: 0px 10px 0px 10px;
      }

      .pagination {
        display: none;
      }

      .pagination-mob{
        display: flex;
      }


    }